body {
    background: #cc0000;
    text-align: center;
}

.page {
    margin: auto;
    width: 500px;
    border: 5px double #cc0000;
    padding: 30px;
    background: white;
}

table {
    margin: auto;
}

td {
    padding: 5px 10px;
}